@use '../abstracts/variables' as *;

.red-text {
  color: $orange;
  font-size: 1.5rem;
}

.red-heading {
  font-size: $medium;
  font-weight: $extra-bold;
}

.attention {
  font-weight: $extra-bold;
}
